/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background-color: #0b071f;
  color:#909184;
}

img{
  display: block;
  margin: 0 auto;
  height: 40%;
  width: 50%; 
  margin-bottom:40px;
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
